<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Either" />
        </handlers>
        <iisnode
            nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
            debuggingEnabled="true"
            loggingEnabled="true"
            devErrorsEnabled="true"
            node_env="production"
            watchedFiles="*.js;iisnode.yml"
        />
        <rewrite>
            <rules>
                <rule name="PHP Files">
                    <match url=".*.php$" />
                    <action type="None" />
                </rule>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                </rule>
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                        <add input="{REQUEST_URI}" pattern="^/phpmyadmin" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <add segment="iisnode" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <defaultDocument enabled="true">
            <files>
                <add value="index.php" />
                <add value="server.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>

